# Ignore environment variable files
/.env

# Ignore node_modules
node_modules/

# Ignore build output directories
migrations/
scripts/

# System files to ignore
.DS_Store

/setting-up.md
/rust-test.md
/notes.md
/package-lock.json
/package.json
/fix-this-truffle-config.md
/soljson-v0.8.20+commit.a1b79de6.js
.aider*
/soljson-v0.8.20+commit.a1b79de6.js