# Ignore environment variable files
.env

# Ignore node_modules
node_modules/

# Ignore build output directories
migrations/
scripts/

# System files to ignore
.DS_Store

/setting-up.md
/rust-test.md
/notes.md
